@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Establecemos el tamaño de la pagina y establecer el tipo de letra como Poppins */
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* 100vv
    100vh */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Esta zona representa la barra de interfaz */ 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e1d2b;
  color: rgb(255, 255, 255);
  position: relative;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  font-weight: bold;
  font-size: xx-large;
  color: #ff702a;
  margin-left: 70px;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
    background: #1e1d2b;
    border: 1px solid #13ce96;
    border-radius: 5px;
}


li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}
 /* HASTA ACA */ 

/* It is ready */
/* Have a good time */

/*                                                                                                                                                                                           */
/* En el primer contenedor lo defino como relativo, con una altura y anchura */

.container1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Estbalesco el tamaño de la letra, su color, su margen superior, el de la derecha  */
.text1{
    font-weight: bold;
    font-size: xx-large;
    color: #ff702a;
    margin-top: 200px;
    margin-left: 180px;
    font-size: 70px;
}

.text2{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-left: 180px;
}

/* Esta es la base del boton, podria decirse que la original */
.botton a:link, a:visited{
    background-color: #ff702a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px rgb(119, 119, 119);
    border-radius: 10px;
    margin: auto;
    margin-left: 180px;
    margin-top: 10px;
}

.botton a:hover{
    color:rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

/* Al momento en el que el maus pase por ensima del boton, el boton cambiara de color*/
.botton a:hover, a:active {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Establecemos las direcciones de la app */
.imagen1 {
    position: relative;
    bottom: 400px;
    margin-left: 850px;

}

/* Definimos el 2 contenedor, su posicion y su tamaño */
.container2 {
  position: relative;
  width: 100vh;
  height: 80vh;
}

.text1-2 {
  font-weight: bold;
  color: #ff702a;
  margin-left: 1000px;
  font-size: 20px;
  padding-top: 200px;
}

.text2-2 {
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  margin-left: 1000px;

}

.text3-2{
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-left: 1000px;
}

/* Lo mismo del primer botton */

.botton2 a:link, a:visited{
  background-color: #ff702a;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px rgb(119, 119, 119);
  border-radius: 10px;
  margin: auto;
  margin-left: 1000px;
  margin-top: 10px;
  position: relative;
}


/* Lo mismo del primer botton */

.botton2 a:hover{
  color:rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}


/* Lo mismo del primer botton */

.botton2 a:hover, a:active {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


.imagen2{
  position: relative;
  bottom: 375px;
  margin-left: 300px;
}

/* Tercer Contenedor */

/* Ademas del color, y el tamaño, hay otros atributos importantes tales como el margin top (Espacio desde la parte superior de la pagina hasta el texto o info escrita) y margin-left  */

.text1-3{
  font-weight: bold;
  color: #ff702a;
  margin-top: 200px;
  margin-left: 900px;
  font-size: 20px;
  padding-top: 130px;
}

.text2-3{
  /* Ademas del color, y el tamaño, hay otros atributos importantes tales como el margin top (Espacio desde la parte superior de la pagina hasta el texto o info escrita) y margin-left que sirve para lo mismo pero en lugar de arriba hasta abajo es de lado hasta que un cuerpo interrumpa */
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  margin-left: 550px;
}
  /* Primer cuadrado */
.cuadrado {
  width: 400px;
  height: 400x;
  background-color: #ffefe8;
  border: 2px rgb(119, 119, 119);
  border-radius: 10px;
  margin: auto;
  /* margin-left: 100px;*/
  position: relative;
  margin-top: 50px;
}

.MiniText1 {
  text-align: center; 
  font-size: 30px;
}

.MiniText2 {
  text-align: center;
  font-size: 15px;
 
}

.MiniText3 {
  text-align: center;
  padding-bottom: 15px;
  color: #ff702a;

}

.imagen3 {
  position: relative;
  text-align: center;
}

  /* Segundo cuadrado */

  /*
.cuadrado-2{
  margin-left: 760px ;
  bottom: 467px;
}
  */

.imagen4 {
  position: relative;
  text-align: center;
}
 /* Tercer cuadrado */

 /*
.cuadrado-3{
  margin-left: 1220px ;
  bottom: 933px;
}
  */

.imagen5 {
  position: relative;
  text-align: center;
}

/* Me permite establecer una propiedad especifica a varios elementos */
.cuadrado{
  display: inline-block;
}

.cuadrado-1 {
  /* Se establece el margen derecho y izqierdo*/
  margin-left: 350px;
  margin-right: 15px;
}
.cuadrado-2{
  margin-right: 15px;
}
.cuadrado-3{
  margin-right: 15px;
}

/* CUARTO CONTENEDOR */

.espacio {
  display: inline-block;
  text-align: center;
}

.text1-4{
  font-weight: bold;
  color: #ff702a;
  margin-top: 500px;
  margin-left: 900px;
  font-size: 20px;
  padding-top: 50px;
}

.text2-4{
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  margin-left: 460px;
}

.ServiceText1 {
  font-weight: bold;
  color: #ff702a;
  font-size: 30px;
  text-align: center;
}
.ServiceText2 {
  font-weight: bold;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.espacio-1{
  margin-left: 100px;
  margin-right: 90px;
}

.espacio-3{
  margin-left: 90px;
}

/* Quinto Contenedor */

.cuunico {
  width: 1300px;
  height: 400px;
  background-color: #ffefe8;
  border: 2px rgb(119, 119, 119);
  border-radius: 10px;
  margin: auto;
  /* margin-left: 100px;*/
  position: relative;
  margin-top: 200px;
}

.text1-5 {
  font-weight: bold;
  font-size: 60px;
  color: #000000;
  text-align: center;
  padding-top: 90px;

}

.botton3 a:link, a:visited{
    background-color: #ff702a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px rgb(119, 119, 119);
    border-radius: 10px;
    margin-left: 590px;
    margin-top: 15px;
    position: relative;
  }
  
.botton3 a:hover{
  color:rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

.botton3 a:hover, a:active {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

table {
  padding-top: 200px;
  padding-bottom: 80px;
  text-align: left;
  margin-left: 365px;
}

.Titulos {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.lol {
  padding-right: 150px;
}

.intermedio {
  color: #ff702a;
}

.text1-6 {
  color: #ffffff;
}